{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow border-0">

                <div class="card-body p-5">

                    <h2 class="text-center text-success mb-4">
                        Connexion
                    </h2>

                    <form method="POST">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <div class="d-grid mt-4">

                            <button class="btn btn-success btn-lg">

                                Se connecter

                            </button>

                        </div>

                    </form>

                    <hr>

                    <p class="text-center">

                        Vous n'avez pas encore de compte ?

                    </p>

                    <div class="d-grid">

                        <a href="{% url 'register' %}"

                           class="btn btn-outline-success">

                            Créer un compte

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}