{% extends "base.html" %}

{% block content %}

<div class="container">

    <h2>{{ titre }}</h2>

    <hr>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <div class="mb-3">

            <label class="form-label">

                Photo(s) du problème

            </label>

            <input
                type="file"
                name="photos"
                class="form-control"
                accept="image/*"
                multiple>

            <div class="form-text">

                Vous pouvez sélectionner une ou plusieurs photos.

            </div>

        </div>

        <button class="btn btn-success">

            Enregistrer

        </button>

        <a href="{% url 'carte' %}" class="btn btn-primary">

            Choisir sur la carte

        </a>

    </form>

</div>

{% endblock %}